<h1>Cash Flow</h1>
<% if @cash_flow_records.any?  %>
  <table class="table table-light table-sm table-striped" data-controller="highlight-rows">
    <tr class="table-dark">
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <tbody>
      <% @cash_flow_records.each do |record| %>
        <tr>
          <td>
            <%= record.date.strftime("%d/%m/%Y") %>
          </td>
          <td>
            <%= record.description %>
          </td>
          <td>
            <%= number_to_currency(record.amount, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No data to display.</p>
<% end %>
