/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.table {
  font-size: 0.8em;
  table-layout: auto; /* Allow columns to resize dynamically */
  width: 100%;
}

.match {
  background-color: #d4edda !important;
}

.different {
  background-color: #fff3cd !important;
}

.highlight {
  background-color: #a9d7e2 !important;
}

.row-height {
  min-height: 3em;
}

.amount-column {
  white-space: nowrap;
  text-align: left;
}
.title {
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #6c757d;
  text-align: center;
}

.save-edit-icon,
.cancel-edit-icon {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.expense-color {
  color: #8b0000;
}

.no-wrap {
  white-space: nowrap; /* Prevent text from wrapping */
}

.margin-nav {
  margin-top: 8em;
}
.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  border-bottom-color: currentcolor;
  border-bottom: 2px solid;
}
