<!DOCTYPE html>
<html>
  <head>
    <title>PDF Export</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %> <!-- This will render the content of the view -->
  </body>
</html>
